section.com-news.container
	h3.com-newstext.text-center
		| 元子新闻
	.row
		.news
			each item in data.news
				.col-sm-6.col-md-4.col-lg-4
					.thumbnail
						if item.isOurs
							a(href='/news/#{item._id}', title='#{item.name}', target='_blank', onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])")
								img(src='/images/placeholder.jpg', width='300', height='225', data-echo='#{item.cover.url || "/images/placeholder-news.jpg"}', alt='元子育儿', data-no-retina)
						else
							a(href='#{item.url}', title='#{item.name}', target='_blank', onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])")
								img(src='/images/placeholder.jpg', width='300', height='225', data-echo='#{item.cover.url || "/images/placeholder-news.jpg"}', alt='元子育儿', data-no-retina)
						.caption
							if item.isOurs
								a(href='/news/#{item._id}', title='#{item.name}', target='_blank', onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])")
									p.com-news-title #{item.name}							
							else
								a(href='#{item.url}', title='#{item.name}', target='_blank', onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])")
									p.com-news-title #{item.name}	
							
