section.com-user.container-fluid
	.row
		#users.carousel.slide(data-ride='carousel' data-pause='hover')
			// Indicators
			ol.carousel-indicators.text-right
				li(data-target='#users', data-slide-to=0)
				li(data-target='#users', data-slide-to=1)
				li(data-target='#users', data-slide-to=2)
				li(data-target='#users', data-slide-to=3)
			// Wrapper for slides
			.carousel-inner
				.item.active.com-user-cover
					img(src='/images/talent/super1.jpg', width='100%', alt='元子育儿', data-at2x='/images/talent/super1@2x.jpg')
				.item.com-user-cover
					img(src='/images/talent/super2.jpg', width='100%', alt='元子育儿', data-at2x='/images/talent/super2@2x.jpg')
				.item.com-user-cover
					img(src='/images/talent/super3.jpg', width='100%', alt='元子育儿', data-at2x='/images/talent/super3@2x.jpg')
				.item.com-user-cover
					img(src='/images/talent/super4.jpg', width='100%', alt='元子育儿', data-at2x='/images/talent/super4@2x.jpg')

		.col-md-12.text-center
			.com-user-text
				p #{data.texts.text1}
				p #{data.texts.text2}
				p #{data.texts.text3}
				p #{data.texts.text4}
				p #{data.texts.text5}
			
