extends ../layout/layout
block content
	section#cards.com-cards.container
		.row
			.cards
				each card in data.cards
					.col-sm-6.col-md-4.col-lg-3
						.thumbnail
							a(href='/cards/#{card.cardId}', title='#{card.name}', target='_blank', onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])")
								img(src='/images/placeholder.jpg', width='300', data-echo='#{card.cover.url}', alt='元子育儿')
							.caption
								p.com-card-title.text-center #{card.name}
								p.card-description
									| #{card.description}
								img.com-user-avatar.img-circle(src='#{card.owner.avatar.url}', width='300', data-echo='#{card.owner.avatar.url}', alt='元子育儿')
								span.com-user-nickname #{card.owner.nickname}
			
